.question {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-top: 2rem;
}

.answer {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  padding: 18px 32px;

  @media (min-width: 768px) {
    font-size: 1rem;
    padding: 18px 48px;
  }

  @media (min-width: 1024px) {
    font-size: 1.2rem;
    padding: 18px 52px;
  }
}

.answer:hover {
  background: linear-gradient(#e65895, #bc6be8);
}

.selectedAnswer {
  background: linear-gradient(#e65895, #bc6be8);
}
