.quizCounter {
  display: flex;
  gap: 12px;
}

.quizButton {
  background-color: var(--button-background-color);
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;

  @media (min-width: 768px) {
    height: 36px;
    width: 36px;
  }

  @media (min-width: 1024px) {
    height: 42px;
    width: 42px;
  }
}

.isSelected {
  background: linear-gradient(#e65895, #bc6be8);
}
