.container {
  background-color: #393f6e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 50vw;
}

.title {
  color: #8b8eab;
  font-size: 1.5rem;
  margin-top: 2rem;
}
