.container {
  background-color: #393f6e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    border-radius: 15px;
    height: 60vh;
    width: 70vw;
  }

  @media (min-width: 1024px) {
    height: 66vh;
    width: 56vw;
  }

  @media (min-width: 1280px) {
    height: 60vh;
    width: 56vw;
  }
}

.title {
  color: #8b8eab;
  font-size: 1.5rem;
  margin-top: 2rem;
}
