.container {
  background-color: #393f6e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 50vw;
}

.title {
  color: #8b8eab;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.quizCounter {
  display: flex;
  gap: 12px;
}

.quizButton {
  background-color: var(--button-background-color);
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
}

.question {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-top: 2rem;
}

.answer {
  padding: 18px 68px;
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.answer:hover {
  background: linear-gradient(#e65895, #bc6be8);
}
